// reset
@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    list-style: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    font-family: 'Montserrat', sans-serif;

    &:focus {
        outline: 0;
    }
}

html, body {
  height: 100%;
}

body {
    background: linear-gradient(to bottom right, #FF8BE0, #FFE364);
}